<ion-header>
  <ion-toolbar>
    <div class="fotos">
      <ion-button class="boton" routerLink="/lista-eventos-ad">
        <img src="assets/icon/FotoSchoolEvent.png" class="imagenIz"/>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="evento; else cargando">

  <div class="contenedor">

    <img [src]="imagenSeleccionada ? 'data:image/jpeg;base64,' + imagenSeleccionada : 'assets/icon/FotoCultural.png'"
         class="evento-img" />

    <h2 class="titulo-evento">{{ evento.nombre }}</h2>

    <div class="bloque">
      <h3 class="etiqueta">Horario del evento:</h3>
      <p class="texto">{{ getFechaFormateada(evento.fecha) }}</p>
    </div>

    <div class="bloque">
      <h3 class="etiqueta">Lugar del evento:</h3>
      <p class="texto">{{ evento.lugar }}</p>
    </div>

    <div class="bloque">
      <h3 class="etiqueta">Descripción del evento:</h3>
      <p class="texto">{{ evento.consiste }}</p>
    </div>

    <div class="bloque">
      <h3 class="etiqueta">Requisitos del evento:</h3>
      <p class="texto">{{ evento.requisitos }}</p>
    </div>

    <ion-button expand="block" class="btn-pago" (click)="subirFoto(evento.id)" color="secondary">
      <ion-icon name="camera" slot="start"></ion-icon>
      HACER FOTO DEL EVENTO
    </ion-button>

    <ion-button expand="block" class="btn-pago" routerLink="/pago-ad">
      PROCEDER AL PAGO
    </ion-button>

    <ion-button expand="block" class="btn-pago"
                [routerLink]="['/pag-editar', evento.id]">
      EDITAR EVENTO
    </ion-button>

    <ion-button expand="block" class="btn-pago" (click)="eliminarEvento()">
      BORRAR EVENTO
    </ion-button>

  </div>

</ion-content>

<ng-template #cargando>
  <ion-content class="ion-text-center">
    <ion-spinner></ion-spinner>
    <p>Cargando evento...</p>
  </ion-content>
</ng-template>
