<ion-header>
  <ion-toolbar>
    <div class="fotos">
      <ion-button class="boton" routerLink="/pag1-admin">
        <img src="assets/icon/FotoSchoolEvent.png" alt="SchoolEvents Logo" class="imagenIz"/>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="titulo">
    Elige el evento
  </div>

  <ion-list class="lista-eventos">

    <ion-button *ngFor="let evento of eventos"
                lines="none"
                class="boton-evento"
                [routerLink]= "['/evento1-ad', evento.id]">
      <img src="assets/icon/FotoCultural.png" class="evento-img" />
      <span class="evento-texto">
        {{ evento.fecha }}: {{evento.nombre}}
      </span>
    </ion-button>

  </ion-list>

  <div *ngIf="!eventos || eventos.length === 0" class="ion-text-center">
    <p>No hay eventos disponibles</p>
  </div>

</ion-content>
