<ion-header>
  <ion-toolbar>
    <div class="fotos">
      <ion-button class="boton" routerLink="/pag1-admin">
        <img src="assets/icon/FotoSchoolEvent.png" alt="SchoolEvents Logo" class="imagenIz"/>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="titulo">
    Elige el evento
  </div>

  <ion-list class="lista-eventos">

    <ion-button routerLink="/evento1-ad" lines="none" class="boton-evento">
      <img src="assets/icon/FotoCultural.png" class="evento-img" />
      <span class="evento-texto">
        6 de Marzo, 12:00: Festival Cultural
      </span>
    </ion-button>

    <ion-button routerLink="/evento2-ad" lines="none" class="boton-evento">
      <img src="assets/icon/FotoDeporte.png" class="evento-img" />
      <span class="evento-texto">
        18 de Marzo, 10:00: Torneo Deportivo
      </span>
    </ion-button>

    <ion-button routerLink="/evento2-ad" lines="none" class="boton-evento">
      <img src="assets/icon/FotoCiencia.png" class="evento-img" />
      <span class="evento-texto">
        27 de Marzo, 9:00: Feria de la Ciencia
      </span>
    </ion-button>

  </ion-list>

</ion-content>
