<ion-content>
  <ion-datetime class="calendario" presentation="date"></ion-datetime>

  <div class="contenedor">
    <h3>Eventos del instituto</h3>

    <ul>
      <li><img src="assets/icon/FotoCultural.png" class="icono"> 6 de Marzo, 12:00 : Festival Cultural</li>
      <li><img src="assets/icon/FotoDeporte.png" class="icono"> 18 de Marzo, 10:00 : Torneo Deportivo</li>
      <li><img src="assets/icon/FotoCiencia.png" class="icono"> 27 de Marzo, 11:00 : Feria de Ciencia</li>
    </ul>
  </div>
  <app-crear-iniciar-sesion-bots></app-crear-iniciar-sesion-bots>
</ion-content>
