.calendario {
  margin: auto;
  padding-bottom: 0;
}

.contenedor {
  width: 90%;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

h3 {
  background-color: #C4C4C4;
  padding: 8px;
  border-radius: 15px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 8px 0;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icono {
  width: 6vh;
}
