{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="container d-flex flex-column justify-content-start align-items-center vh-100 pt-5">

    <div class="row g-4 justify-content-center w-100">

        <div class="col-10 col-md-4">
            <a href="{% url 'Lista_de_juegos' %}" class="text-decoration-none text-white">
                <div class="card text-center text-white bg-dark-blue card-hover">
                    <div class="card-body py-5">
                        <img src="{% static 'images/juegos.png' %}" width="250" class="mb-3">
                        <h3>Juegos</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-10 col-md-4">
            <a href="{% url 'Rankings' %}" class="text-decoration-none text-white">
                <div class="card text-center text-white bg-purple card-hover">
                    <div class="card-body py-5">
                        <img src="{% static 'images/ranking.png' %}" width="215" class="mb-3">
                        <h3>Rankings</h3>
                    </div>
                </div>
            </a>
        </div>


    </div>

</div>

{% endblock %}
