<ion-header>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">
      <img src="assets/logo.png" alt="logo" style="height:40px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="section">
    <div class="section-title">Notificaciones</div>

    <ion-list lines="none">

      <ion-item>
        <ion-label>
          <h2><ion-icon name="calendar-outline"></ion-icon> 6 de Marzo, 12:00 - Festival Cultural</h2>
          <p>
            <strong>Festival Cultural.</strong><br>
            <span class="highlight">Cambio de localización</span><br>
            Pabellón → Aula 2ºA
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2><ion-icon name="calendar-outline"></ion-icon> 27 de Marzo - Feria de Ciencia</h2>
          <p>
            <strong>Festival Cultural.</strong><br>
            <span class="highlight">Cambio de horario</span><br>
            11:00 → 9:00
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>

  <div class="section">
    <div class="section-title">Recordatorios</div>

    <ion-list lines="none">
      <ion-item>
        <ion-label>
          <h2><ion-icon name="calendar-outline"></ion-icon> 6 de Marzo, 12:00 - Festival Cultural</h2>
          <p>Recuerda que te inscribiste en el evento</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2><ion-icon name="calendar-outline"></ion-icon> 27 de Marzo, 9:00 - Feria de Ciencia</h2>
          <p>Recuerda que te inscribiste en el evento</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
