.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  margin-bottom: 10%;
}

.form-card {
  width: 85%;
  border-radius: 5%;
  background-color: #d9d9d9;
}

ion-button {
  margin-top: 15px;
  border-radius: 20px;
  font-weight: 500;
}

ion-item{
  --background: #d9d9d9;
}

ion-input{
  --background: #EDEDED;
  margin-top: 3%;
}
