<ion-content class="ion-padding">

  <div class="container">

    <ion-button routerLink="/lista-eventos" class="boton"><img src="assets/icon/FotoSchoolEvent.png" alt="SchoolEvents Logo" class="logo"/></ion-button>

    <div class="cuadro">
      <h1 class="titulo">PAGO RECHAZADO</h1>

      <p class="subtexto">Algún campo estaba erroneo o no hay saldo suficiente</p>
    </div>

    <ion-button expand="block" shape="round" color="medium" routerLink="/lista-eventos">SALIR</ion-button>
  </div>

</ion-content>
