.header-logo {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.logo {
  width: 55px;
  height: 55px;
}

.contenedor {
  text-align: center;
  margin-top: 10px;
}

.evento-img {
  width: 160px;
  height: 110px;
  margin: 10px auto 5px auto;
}

.titulo-evento {
  margin: 0;
  font-size: 1.6em;
  font-weight: bold;
  color: #000;
}

.bloque {
  margin-top: 18px;
  text-align: center;
}

.label {
  margin: 0;
  font-weight: bold;
  font-size: 1.1em;
}

.texto {
  margin-top: 4px;
  color: #000;
  font-size: 1em;
}

.btn-pago {
  --background: #d9d9d9;
  --color: #000;
  margin-top: 25px;
  font-weight: bold;
  border-radius: 10px;
}

.fotos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.imagenIz{
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.boton{
  --background: #fdfdfd;
  --box-shadow: none;
}
