
.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
  gap: 10px;
}

.btn {
  background-color: #C4C4C4;
  color: black;
  border-radius: 15px;
  padding: 2% 2%;
  font-size: 17px;
}


