<ion-header>
  <ion-toolbar>
    <div class="fotos">
      <ion-button class="boton" routerLink="/pag1-admin">
        <img src="assets/icon/FotoSchoolEvent.png" alt="SchoolEvents Logo" class="imagenIz"/>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
  <div class="titulo">Eventos ya puestos</div>
    <ion-datetime class="calendario" presentation="date"></ion-datetime>
  </div>
  <div>
    <ion-button class="boton2" routerLink="/pagina-anadir"><div class="titulo">Que evento vas a añadir</div></ion-button>
    <ion-datetime class="calendario" presentation="date"></ion-datetime>
  </div>
</ion-content>
